<html>
	<head>

		
		<link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@700&display=swap" rel="stylesheet">
		
		<title>Closures</title>
	</head>
	<style>
		body{
		
			background-color: #5d4257;
background-image: linear-gradient(315deg, #5d4257 0%, #a5c7b7 74%);
		}
		
		
       p{
		color:#000000;
    text-align: left;
    font-family: 'Grenze Gotisch', cursive;
    font-size:2.0rem;
	padding-left:20px;
		letter-spacing:2px;
	
	
	</style>
	<body>
		
		<p>
			Hello Vanshi!!!
			<br>
			Hope you read all the blogs before clicking this button.
			If not please read them first then come here.
			<br>
			So this is the closures page of my site.<br>
			I've built this beautiful website for your 21st birthday, to make you happy and more special, my love.
		I've dedicated this site fully to MY Bestie- Vanshu.
		<br>
		It has undergone many changes before, what you see now is the final stage of the site.
		</p>
		<p>
			<br>This whole website is purely dedicated to acknowledge my affection for my Vanshu, Hand crafted with LOTS OF LOVE
			<br>Just for my cute Bacha.
		A new improved gallery and more aspects will be embedded in this system soon.
			So wait till then ;)
		</p>
		<p>
		All the best vanshu bacha. Hope you read all my blogs and felt my love for you. This website is all yours from now on dear bacha, bujji.<br>
			Enjoy your birthday well, Party hard!
			<br>
			Thank you so much for everything Vanshu. You changed me a lot. I love you so much. I'm grateful to you, my dear bacha...
			Achieve your goals<br>  All the very best for your future endeavours.
		Hope you liked my gift.	
		</p>
	<p>It's not the end booo!<br>
		There are a lot more gifts waiting for you. When we meet, it will be all yours. I wish to see your happiness. Your glittery eyes when I meet you.
		Wish to see you soon...
		</p>	
		<p>
			Cyaa<br>
			Take care<br>
			LOVE YOU SO MUCH<br>
			Thanks a lot!<br>
			<br>Made With Love ♥️<br>
		Yours Vicky	
		</p>
		<img src="https://lh3.googleusercontent.com/Phb7ztDc4jAtTV6vynwB2rZjLwDNOT3njy2aIF0Kv3FFcKXehYzY1d47T8BrOU3us3Hk_xrPAelRkIYHUcSSmZH3_jnE3NRHsyeLFMPlzCyqQWFfYlbWCUzSsdQRNseOsjeFBuOfYso=w2400"  width="=380" height=" 350"  style="border:3px solid black; margin:15px" >
		
	</body>
</html>