<html>
	<head>
				<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<title>Closures</title>
	</head>
	
	<style>
		body{
			background-color: #c7e9fb;
background-image: linear-gradient(315deg, #c7e9fb 0%, #e61d8c 74%);
		}
	p{
		color:#000000;
    text-align: left;
    font-family: 'Caveat', cursive;
    font-size:2.0rem;
	padding-left:20px;
		letter-spacing:2px;
	</style>
	<body>
		
		<p>
			HELLO Vanshu.
		</p>
		<p>
		How are you.
			Before that, if you are reading this then it's the time you've already entered your 21st birthday.<br>
			WISH YOU MANY MORE HAPPY RETURNS OF THE DAY VANSHU<br>
			I've built this particular website solely for you dear bacha.
			It has all the details of you and our times spent together. Our sweet memories and all.
			<br>
		This page is a guideline to navigate freely through this site.
			<br>
		Let's begin...
		<br>
			Click on the "Timer" button visible to you  on the home page.Go through it.
			Then once the timer ends, click on "Surprise".
			<br>	
			<br>
		First click on the open button on the first page visible to you. <br>Now click the button with "Guide" written on it.
		Then click on "Greeting Cards". <br>
		Then click on the "Blogs" button.
			You will  be redirected to a webpage named "blogs"
		Hover over the first card and read the intro part written there. <br>Then click on 'read more'. 
			You will find the first blog.
			<br>
			The 6 Cards are divided into 6 different categories which implicitly signifies the timeless bond we shared.<br>Each card explaining 1 month of our beautiful timeline together.
			<br>
			Likewise do for other cards too.
			HAPPY READING...
		</p>
		
		<p>
		After you finish all the blogs there, come back to the home page.<br>You will see a button named "Closures".
			It contains the closures for this app.
		</p>
		<p>
			There are many surprises on your way navigating through this site.Enjoy bacha :)
			Go ahead and give it a shot, my love.
			<br> LOTS OF LOVE ;)
			<br>VICKY
		</p>
	</body>
</html>